*{
    list-style: none;
    /* color: #fff; */
    text-decoration: none;
}

.subtit{
    width: 75%;
    margin-top: -45px;
}

.subtituloPage{
    float: right;
    margin-top: -25px;
    color: #fff;
    letter-spacing: 1.5px;
    
}

.lineS{
    margin-top: 120px;
}

.menu_User{
    float: right;
    position: absolute;
    display: block;
    margin-top: -1009px;
    margin-left: 1020px;
    color: #fff;
    width: 20%;  
    text-transform: uppercase  
}

.menu_User h4{
    text-align: right;
    letter-spacing: 1.5px;
}

.menu_use li{
    margin-top: 20px;
    text-align: right;
}

.menu_use a{
    letter-spacing: 1.5px;
    color: #fff;
    
}

.menu_use a:hover{
    color: #FF1C0B;
}

#infoPedidos{
    width: 75%;
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
}

#tablePedido{
    width: 100%;
    padding: 15px;
    color: #fff;
}

th{
    border-bottom: 1px solid #fff;
}

td{
    border-top: 1px solid #fff;
}
.titulosPedidos{
    margin: 8px;
    padding: 50px;
}

.titulosPedidos th{
    width: 100px !important;
    margin-left: 50px; 
    margin: 10px;
    position: relative;
    
}

#contenidoPedidos{
    width: 800px;
}

.titulosP{
    padding: 9px;
    letter-spacing: 1.5px;
}

tr td{
    padding: 15px;
    width: 40%;
}

.contenido img{
    width: 160px;    
}

.contenido h4{
    text-align: center;
    padding-bottom: 14px;
}

.images{
    position: relative;
    margin-left: 80px;
}

.descripcion {
    text-align: left;      
}

.estado{
    text-align: center;
}